<div class="navbar navbar-expand-lg navbar-light bg-light straightas-header">
	<a class="navbar-brand" ng-click="hvm.redirectHome()">Photo gram</a>
	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav"></div>
</div>

<div class="home-page">
	<div class="container-fluid">
		<div class="row">
			<div class="catalog">
				<div class="buttons">
					<div class="plusGumb button plus-button" ng-click="vm.newcatalogAdd()">+</div>
				</div>

				<div class="catalog-list-container">
					<div class="catalog-list"  ng-repeat="image in vm.images">
						<div class="thumbnail" ng-click="vm.openImage(image)">
			                <img src="{{ image.url }}" alt="" style="width:100%">
			            </div>
					</div>
				</div>
				
				<!-- NEW catalog -->
				<div class="modal fade catalog-form-modal" id="newcatalogModal" role="dialog">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <h4 class="modal-title">Naloži sliko</h4>
				            </div>
				            <form action="/action_page.php">
								<input type="file" name="myFile"><br><br>
							</form>
				            <div class="modal-body">
				                <label>
				                    <p class="label-txt"><i class="fa fa-pencil"></i>Opis</p><br>	                    
			                    	<input type="text" class="input" id="imecatalog" ng-model="vm.catalog.description" required>
				                    <div class="line-box">
			                            <div class="line"></div>
			                        </div>
			                        <span ng-show="vm.inputError" class="help-block validation-text">{{ vm.inputError }}</span>
				                </label>
				            </div>
				            <div class="modal-footer modals">
				                <button type="submit" id="dodajcatalog" class="btn btn-default" ng-click="vm.newcatalog()">Dodaj</button>
				                <button type="button" class="btn btn-default" ng-click="vm.closeNew()">Prekliči</button>
				            </div>
				        </div>
				    </div>
				</div>

				<!-- UPDATE catalog -->
				<div class="modal fade catalog-form-modal" id="showImageModal" role="dialog">
				    <div class="modal-dialog">
				        <div class="modal-content">
				        	<div class="modal-body">
				        		<img src="{{ vm.currentImage.url }}" alt="" style="width:100%">
				        	</div>
				            <div class="modal-header">
				                <h4 class="modal-title">Komentarji</h4>
				            </div>
				            <div class="modal-body">
				                <label>
				                    <p class="label-txt"><i class="fa fa-pencil"></i>Dodaj komentar</p><br>
			                    	<input type="text" class="input" id="novoImecatalog" ng-model="vm.currentcatalog.description">
				                    <div class="line-box">
			                            <div class="line"></div>
			                        </div>
				                </label>
				            </div>
				            <div class="modal-footer modals">
				                <button type="submit" id="uredicatalog" class="btn btn-default" ng-click="vm.updatecatalog()">Dodaj</button>
				                <button type="button" class="btn btn-default" ng-click="vm.closeUpdate()">Prekliči</button>
				            </div>
					    </div>
					</div>
				</div>

				<!-- On DELETE -->
				<div class="modal fade catalog-form-modal" id="deletecatalogModal" role="dialog">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <h6 class="modal-title">Ali ste prepričani, da želite izbrisati sliko</h6>
				            </div>
				            <div class="modal-footer modals">
				                <button type="submit" id="izbrisicatalog" class="btn btn-default" ng-click="vm.deletecatalog()">Da</button>
				                <button type="button" class="btn btn-default" ng-click="vm.closeDelete()">Prekliči</button>
				            </div>
				        </div>
				    </div>
				</div>
			</div>

		</div>
	</div>
</div>


