<div class="navbar navbar-expand-lg navbar-light bg-light straightas-header">
	<a class="navbar-brand">Photo gram</a>
	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav"></div>
</div>

<div class="home-page">
	<div class="container-fluid">
		<div class="row">
			<div class="catalog">
				<div class="buttons">
					<div class="plusGumb button plus-button" data-toggle="modal" data-target="#showImageModal" ng-click="vm.newImage()">+</div>
				</div>
				<div class="catalog-list-container">
					<div class="catalog-list"  ng-repeat="image in vm.images">
						<div class="thumbnail" ng-click="vm.showImage(image)">
			                <img src="{{ image.url }}" alt="" style="width:100%">
			            </div>
					</div>
				</div>
				
				<!-- NEW image -->
				<div class="modal fade catalog-form-modal" id="showImageModal" role="dialog">
				    <div class="modal-dialog">
				        <div class="modal-content">
				        	<form  style="all: unset;">
					            <div class="modal-header">
					                <h4 class="modal-title">Naloži sliko</h4>
					            </div>
					            <div class="modal-body">
					                <label>               
										<input type="file" id="file" name="myImage" accept="image/*"><br><br>
					                    <div class="line-box">
				                            <div class="line"></div>
				                        </div>
					                </label>
					            </div>
					            <div class="modal-footer modals">
					                <button type="submit" id="dodajImage" class="btn btn-default" ng-click="vm.newImage()">Dodaj</button>
					                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.closeNew()">Prekliči</button>
					            </div>
					        </form>
				        </div>
				    </div>
				</div>

				<!-- DETAIL catalog -->
				<div class="modal fade catalog-form-modal" id="showImageCommentModal" role="dialog">
				    <div class="modal-dialog">
				        <div class="modal-content">
				        	<div class="modal-body">
				        		<img src="{{ vm.currentImage.url }}" alt="" style="width:100%">
				        		<div class="buttons">
				        			<div class="row">	
										<div class="plusGumb button plus-button" data-toggle="modal" data-target="#showImageCommentModal" ng-click="vm.updateLike(vm.currentImage)"><3</div>
									</div> 
								</div>
				        	</div>
				        	<div class="modal-header">
				        		<div class="buttons">
				        			<div class="row">
											<div  class="row">	           		
				                    			<p class="label-txt">{{ vm.currentLike }}</p>
				                    		</div>
									</div> 
								</div>
				        	</div>
				            <div class="modal-header">
				               <h4 class="modal-title">Komentarji</h4>
				            </div>
				            <div class="modal-body">
				            	<div ng-repeat="comment in vm.showImage.comments.slice().reverse()">
			                    	<label>
			                    		<div class="row">	                    		
			                    			<p class="label-txt">{{ comments.comment }}</p>
			                    		</div>
			                    	</label>	                    	
		                    	</div>	      
				                <label>
				                    <p class="label-txt"><i class="fa fa-pencil"></i>Dodaj komentar</p><br>
			                    	<input type="text" class="input" id="novoImecatalog" ng-model="vm.comment">
				                    <div class="line-box">
			                            <div class="line"></div>
			                        </div>
				                </label>
				            </div>
				            <div class="modal-footer modals">
				                <button type="submit" id="uredicatalog" class="btn btn-default" ng-click="vm.newComment(vm.currentImage)" data-dismiss="modal">Dodaj</button>
				                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.closeNew()">Prekliči</button>
				            </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>